:host {
  display: block;
  width: 100%;
  height: 100%;
}

.full-textbox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none; /* prevent dragging to resize */
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
